<%= form_with(model: parish, local: true) do |form| %>
  <% if parish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parish.errors.count, "error") %> prohibited this parish from being saved:</h2>

      <ul>
      <% parish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :parish_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
