
<!-- Bringing in jQuery and Masonry libraries -->

<div class="parish_container">
  <div id="accordion" role="tablist">
    <% @parishes.each do |parish| %>
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-target="#collapse-<%= parish.id %>" href="#collapse-<%= parish.id %>" aria-expanded="true" aria-controls="collapse">
              <%= parish.name %>
            </a>
        </h5>
      </div>
      <div id="collapse-<%= parish.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="container parish">
          <div class="row">
            <div class="col-6 parish_desc">
              <%= parish.parish_desc %>
              <% if !current_user.blank? && current_user.role_id == 1 %>
                      <div class="manage_container">
                        <%= link_to 'Edit', edit_parish_path(parish),class:"btn btn-primary manage_button" %>
                        <%= link_to 'Delete', parish, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-primary manage_button" %>
                      </div>
                      <%end%>
            </div>
            <div class="col-6">
              <% 
                politicians = parish.politicians.where(in_term:1)
                politicians.each do |politician| %>
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <span class="parish_politician_title">
                      <%= politician.title %>
                    </span>
                  </div>
                  <div class="col-9">
                    <span class="parish_politician">
                      <%= link_to politician.full_name, politician_path(politician)  %>
                    </span>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <% end %>
  </div>
  <div class="district_container">
    <a class="district_link" href="https://cab.org.je/index.php?option=com_content&view=article&id=221:electoral-districts-731l1&catid=29&Itemid=53" target="_blank">
    WHATS MY DISTRICT?
    </a>

    <p>If you live in St. Helier, St. Saviour or St. Brelade, you may need to know which district you reside in. </p>
  </div>

  <br>

  <% if !current_user.blank? && current_user.role_id == 1 %>
      <%= link_to 'New Parish', new_parish_path, class:"btn btn-primary" %>

  <% end %>

</div>
