
<script src="/path/to/masonry.pkgd.min.js"></script>

<script>
var elem = document.querySelector('.grid');
var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});

// element argument can be a selector string
//   for an individual element
var msnry = new Masonry( '.grid', {
  // options
});
</script>



<p id="notice"><%= notice %></p>


  <div class="grid">
    <% @parishes.each do |parish| %>
    <div class="grid-item">
      <%= parish.name %>
      <%= link_to 'Show', parish %>
      <%= link_to 'Edit', edit_parish_path(parish) %>
      <%= link_to 'Destroy', parish, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>


<br>

<%= link_to 'New Parish', new_parish_path %>
