
<!-- Bringing in jQuery and Masonry libraries -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<p id="notice"><%= notice %></p>


<div class='grid'>
  <% @parishes.each do |parish| %>
    <div class="grid-item" data-target='#additional-info-<%= parish %>'>
      <h1 class='title'>
        <%= parish.name %>

        <%= @politician %>
      </h1>

      <p id='additional-info-<%= parish %>' class='hidden'>
        <% x = parish.name %>
        <% while x = @politician.parish %>
        <%=  puts @politician.full_name %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Parish', new_parish_path %>


<script>
  // Initialize masonary on the grid
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: 200
  });

  // On click remove (or add) the hidden class and reinitailze masonary
  $grid.on( 'click', '.grid-item', function() {
    $($(this).data('target')).toggleClass('hidden')
    $grid.masonry()
  })
</script>
