
<!-- Bringing in jQuery and Masonry libraries -->


<p id="notice"><%= notice %></p>


<div id="accordion" role="tablist">
  <% @parishes.each do |parish| %>
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-target="#collapse-<%= parish.id %>" href="#collapse-<%= parish.id %>" aria-expanded="true" aria-controls="collapse">
            <%= parish.name %>
          </a>
      </h5>
    </div>
    <div id="collapse-<%= parish.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="container parish">
        <div class="row">
          <div class="col-6 parish_desc">
            <%= parish_desc %>
          </div>
          <div class="col-6">
            <% parish.politicians.each do |politician| %>
            <div class="card-body">
                <span class="parish_politician_title">
                  <%= politician.title %>
                </span>
                <span class="parish_politician">
                  <%= link_to politician.full_name, politician_path(politician)  %>
                </span>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <% end %>
</div>

<br>

<% if current_user.blank? %>
  <%else %>
    <%if current_user.role_id == 1%>
    <%= link_to 'New Parish', new_parish_path %>
    <% end %>
<% end %>
