
<!-- Bringing in jQuery and Masonry libraries -->


<p id="notice"><%= notice %></p>


<div id="accordion" role="tablist">
  <% @parishes.each do |parish| %>
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-target="#collapse-<%= parish.id %>" href="#collapse-<%= parish.id %>" aria-expanded="true" aria-controls="collapse">
            <%= parish.name %>
          </a>
      </h5>
    </div>
    <div id="collapse-<%= parish.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="container parish">
        <div class="row">
          <div class="col-6 parish_desc">
            <% if parish.name == 'Saint Helier' %>
                'St Helier has a population of about 33,500, roughly 34.2% of the total population of Jersey, and is the capital of the Island (although Government House is situated in St Saviour). The urban area of the parish of St Helier makes up most of town, although some of the town area is situated in adjacent St Saviour, with suburbs sprawling into St Lawrence and St Clement. The greater part of St Helier is rural.

                The parish covers a surface area of 4.1 square miles (10.6 km2), being 9% of the total land area of the Island (this includes reclaimed land area of 494 acres (2.00 km2) or 200 ha).
                Saint Helier is the most populated of Jersey's parishes, with 33,522 residents according to the 2011 census.<br>
                With the Constable, the parish therefore has 11 representatives in the States of Jersey (out of 53 elected members).
                The Parish also has its own responsibilities and elections to the Municipality of St Helier take place to elect honorary officials who fulfill a variety of roles for Parishioners under the overall control of the Constable, two Procureurs du Bien Public and the Parish Assembly.'
            <%elsif parish.name == 'Grouville' %>
                Grouville is in the south east of the island and is dominated by the broad sweep of the Royal Bay of Grouville. The parish covers a surface area of 4,354 vergées (7.8 km²). It borders Saint Clement, Saint Saviour and Saint Martin.
                Population: 4,866 (2011)
            <%elsif parish.name == 'Saint Brelade' %>
                Saint Brélade is one of the twelve parishes of Jersey. Its population is around 9,560, and it occupies the southwestern part of the island. It is the only parish to border only one other parish, St. Peter. The parish is the second-largest parish by surface area, covering 7,103 vergées (3,157 acres or 12.78 km²), which is 11% of the total land surface of the island.
                Its name is derived from a 6th-century Celtic or Welsh "wandering saint" named Branwalator or Saint Brelade (also Branwallder, Broladre, Brelodre, Brélade), who is said to have been the son of the Cornish king, Kenen. He is also said to have been a disciple of Samson of Dol, and worked with this churchman in Cornwall and the Channel Islands. A large section of the Jersey Railway linking La Corbière with Saint Helier ran through the parish between 1870 and 1936.
                St. Brélade has some of the most popular bays in Jersey, with St. Brélade's Bay, Ouaisné, Portelet and parts of both St. Ouen's Bay and St. Aubin's Bay falling within the parish boundaries. The village (or town) of Saint Aubin was originally a fishing port facing St. Helier on the opposite side of St. Aubin's Bay. St Aubin was historically the main centre of population in the parish, but residential development at Les Quennevais has shifted that centre of population.
            <%elsif parish.name == 'Saint Clement' %>
            <%elsif parish.name == 'Saint John' %>
            <%elsif parish.name == 'Saint Lawrence' %>
            <%elsif parish.name == 'Saint Martin' %>
            <%elsif parish.name == 'Saint Mary' %>
            <%elsif parish.name == 'Saint Ouen' %>
            <%elsif parish.name == 'Saint Peter' %>
            <%elsif parish.name == 'Saint Saviour' %>
            <%elsif parish.name == 'Trinity' %>
            <%elsif parish.name == 'Island Wide' %>
            <% end %>
          </div>
          <div class="col-6">
            <% parish.politicians.each do |politician| %>
            <div class="card-body">
                <span class="parish_politician_title">
                  <%= politician.title %>
                </span>
                <span class="parish_politician">
                  <%= link_to politician.full_name, politician_path(politician)  %>
                </span>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <% end %>
</div>

<br>

<% if current_user.blank? %>
  <%else %>
    <%if current_user.role_id == 1%>
    <%= link_to 'New Parish', new_parish_path %>
    <% end %>
<% end %>
