<p id="notice"><%= notice %></p>

<h1>Offices</h1>

    <% @offices.each do |office| %>

<div class="office_container">
    <div class=office_position>  <%= office.position %></div>
    <div class="manage_container">
          <% if current_user.blank? %>
            <%else %>
              <%if current_user.role_id == 1%>

                  <div class="manage_button"><%= link_to 'Show', office %></div>
                  <div class="manage_button"><%= link_to 'Edit', edit_office_path(office) %></div>
                  <div class="manage_button"><%= link_to 'Delete', office, method: :delete, data: { confirm: 'Are you sure?' } %></div>


                <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

<br>

<% if current_user.blank? %>
  <%else %>
    <%if current_user.role_id == 1%>
      <%= link_to 'New Office', new_office_path %>
    <% end %>
    <% end %>
