<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @office.position %>
</p>

<div class="manage_container">
<% if !current_user.blank? && current_user.role_id == 1 %>
          <div class="manage_button"><%= link_to 'Edit', edit_office_path(@office) %></div>
          <div class="manage_button"><%= link_to 'Delete', @office, method: :delete, data: { confirm: 'Are you sure?' } %></div>

<% end %>
  <div class="manage_button"><%= link_to 'Back', offices_path %></div>
</div>
