<%= form_with(model: notice, local: true) do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="input_container">

Title:
  <div class="field">
    <%= form.text_field :title, id: :notice_title %>
  </div>

Notice:
  <div class="field">
    <%= form.text_area :content, :maxlength => 5000, class: 'content_input', id: :notice_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
