<div class="notice_container">
    <div class="notice_title">
      <%= link_to 'show' do %>
      <%= notice.title %>
      <% end %>
    </div>
    <div class="notice_author">
      <i>Written by  <%= notice.user.username %> - <%= notice.created_at.strftime("%d %b. %Y") %> </i>
    </div>
    <divc class="notice_content">
      <%= notice.content %>
    </div>

    <% if current_user.blank? %>
      <%else %>
        <%if current_user.role_id == 1%>

          <div class="manage_container">
            <div class="manage_button"><%= link_to 'Show', notice %></div>
            <div class="manage_button"><%= link_to 'Edit', edit_notice_path(notice) %></div>
            <div class="manage_button"><%= link_to 'Delete', notice, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
          <% end %>
    <% end %>
