<div class="card text-white bg-primary mb-3">
    <div class="card-header">
      <h4><%= link_to notice.title,notice %></h4>
      <div class="home_notice_author">
        <i>Written by  <%= notice.user.username %> - <%= notice.created_at.strftime("%d %b. %Y") %> </i>
      </div>
    </div>
    <div class="card-body text-primary bg-white">
    <div class="card-text">
	<%= truncate notice.content, length: 260 %>
	<%= link_to 'read more', notice %> 
    </div></div>

    <% if !current_user.blank? && current_user.role_id == 1 %>
            <div class="manage_container">
              <%= link_to 'Edit', edit_notice_path(notice),class:"btn btn-primary manage_button" %>
              <%= link_to 'Delete', notice, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-primary manage_button" %>
            </div>

    <% end %>
</div>