<p id="notice"><%= notice %></p>

<h1>Notices</h1>




    <% @notices.each do |notice| %>
    <div class="notice_container">
        <div class="notice_title">
          <%= link_to 'show' do %>
          <%= notice.title %>
          <% end %>
        </div>
        <div class="notice_author">
          <i>Written by  <%= notice.user.username %> - <%= notice.created_at.strftime("%d %b. %Y") %> </i>
        </div>
        <divc class="notice_content">
          <%= notice.content %>
        </div>


        <div class="notice_management">
          <div><%= link_to 'Show', notice %></div>
          <div><%= link_to 'Edit', edit_notice_path(notice) %></div>
          <div>><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      </div>
    <% end %>


<br>

<%= link_to 'New Notice', new_notice_path %>
