<p id="notice"><%= notice %></p>

<h1>Notices</h1>




    <% @notices.each do |notice| %>
    <div class="notice_container">
      <div class="userinfo_container">
        <div><%= notice.user_id %></div>
      </div>
      <div class="content_container">

        <div><%= notice.title %></div>
        <div><%= notice.content %></div>
      </div>
</div>
<div>


        <div><%= link_to 'Show', notice %></div>
        <div><%= link_to 'Edit', edit_notice_path(notice) %></div>
        <div>><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div
    <% end %>


<br>

<%= link_to 'New Notice', new_notice_path %>
