<div class="search_wrapper">

  <% if !params['q'].blank? %>

    <% if @meta_results.length > 0 %>
      <h6>
        Your search results for "<%= params['q'] %>" returned <%= @meta_results.length %> results.
      </h6>
    <% end %>

      <div>
        <% @pol_results.each do |pol| %>
          <div class="search_pol">
            <span class="search_title">
            <%= pol['title'] %>
          </span>
          <span class="search_label">
            <%= pol['label'] %>
          </span>
          <span class="search_link">
          <%= pol['link'] %>
          </span>
          </div>
            <% end %>
      </div>


      <div class="search_prop">
        <% @prop_results.each do |prop| %>
          <div class="search_prop">
            <div class="search_lodgeby">
              Lodged By: <%= prop['proposer'] %>
            </div>
            <span class="search_label">
              <%= prop['label'] %>
            </span>
            <span class="search_link">
              <%= prop['link'] %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @meta_results == 0 %>
      <p>Your search for <%= params['q'] %> returned no results</p>
    <% end %>



</div>
