<div class="search_wrapper">
  <% if !params['q'].blank? %>

    <% if @pol_results and @pol_results.length > 0 %>
      <h6>
        Your search results for "<%= params['q'] %>" in Politician(s): <%= @pol_results.length %>
      </h6>

      <div>
        <% @pol_results.each do |pol| %>
          <div class="search_pol">
            <span>
            <%= pol['title'] %>
          </span>
          <span class="search_label">
            <%= pol['label'] %>
          </span>
          <span class="search_link">
          <%= pol['link'] %>
          </span>
          </div>

        <% end %>
      </div>
    <% end %>

    <% if @prop_results and @prop_results.length > 0 %>
    <h6>
      Your search results for "<%= params['q'] %>" in Propositions:
    </h6>
      <div>
        <% @prop_results.each do |prop| %>
          <div class="search_prop">
            <div class="search_lodgeby">
              Lodged By: <%= prop['proposer'] %>
            </div>
            <span class="search_label">
              <%= prop['label'] %>
            </span>
            <span class="search_link">
              <%= prop['link'] %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>

    <% else @pol_results.length and @prop_results.length == 0 %>
    <p>Your search for <%= params['q'] %> returned no results</p>

  <% end %>
</div>
