<h1>Search</h1>

<% if !params['q'].blank? %> 

  <% if @pol_results and @pol_results.length > 0 %>
    <p>Your search for <%= params['q'] %> returned <%= @pol_results.length %> results</p>
    

    <% @pol_results.each do |pol| %>
      <p><%= pol['title'] %> <%= pol['label'] %> <%= pol['link'] %></p>
    <% end %>

  <% end %>



  <% if @prop_results and @prop_results.length > 0 %>
    <p>Your search for <%= params['q'] %> returned <%= @pol_results.length %> results</p>

    <% @prop_results.each do |prop| %>
      <p>
        Lodged By: <%= prop['proposer'] %>
        </br>
        <%= prop['label'] %> <%= prop['link'] %>
      </p>
    <% end %>
  <% end %>

  <% else @pol_results.length and @prop_results.length == 0 %>
  <p>Your search for <%= params['q'] %> returned no results</p>

<% end %>