<div class="search_wrapper">
  <% if !params['q'].blank? %>

    <% if @pol_results and @pol_results.length > 0 %>
      <h6>
        Your search for "<%= params['q'] %>" brought back the following results:
        <h5> Politician(s): <%= @pol_results.length %></h5>
      </h6>

      <div class="search_pol">
        <% @pol_results.each do |pol| %>
          <h3> &bull; <%= pol['title'] %> <%= pol['label'] %></h3>
          <p><%= pol['link'] %></p>
        <% end %>
      </div>
    <% end %>



    <% if @prop_results and @prop_results.length > 0 %>
      <h5>
         Propositions of <%= @pol_results.length %> politician:
      </h5>
      <div class="search_prop">
        <% @prop_results.each do |prop| %>
          <h4>
            &bull; Lodged By: <%= prop['proposer'] %>
            </br>
          <h6>
            <%= prop['label'] %>
          </h6>
          <p>
            <%= prop['link'] %>
          </p>
          </h4>
        <% end %>
    </div>
    <% end %>

    <% else @pol_results.length and @prop_results.length == 0 %>
    <p>Your search for <%= params['q'] %> returned no results</p>

  <% end %>
</div>
