<p id="notice"><%= notice %></p>

<h1>Terms</h1>

<table class="table">
  <thead>
    <tr>
      <th>Parish</th>
      <th>Position</th>
      <th>Title</th>
      <th>Politician name</th>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <% if term.politician.present? %>
        <tr>
          <td><%= term.parish.name %></td>
          <td><%= term.position %></td>
          <td><%= term.politician.title %></td>
          <td><%= term.politician.full_name %></td>
          <td><%= term.begin_date %></td>
          <td><%= term.end_date %></td>
          <td>
            <% if user_signed_in? && current_user.role.name == 'Admin' %>
              <span class="manage_container">
                <%= link_to 'Show', term, class:"btn btn-primary manage_button" %>
                <%= link_to 'Edit', edit_term_path(term), class:"btn btn-primary manage_button" %>
                <%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary manage_button" %>
              </span>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Term', new_term_path %>
