<p id="notice"><%= notice %></p>

<div class="term_wraper">
  <h1>Terms</h1>
  <div>
    <% @terms.each do |term| %>
      <% if  (term.politician_id) %>
       <div class="container term_container">
          <div class="row">
             <div class="col-2">
                 <%= term.parish.name %>
             </div>
             <div class="col-3">
                 <%= term.position %>
             </div>
             <div class="col-1">
                 <%= term.politician.title %>
             </div>
             <div class="col-2">
                 <%= term.politician.full_name %>
             </div>
             <div class="col-2">
                 <%= term.begin_date %>
             </div>
             <div class="col-2">
                 <%= term.end_date %>
             </div>

            <% if !current_user.blank? && current_user.role_id == 1 %>
              <div class="col">
                <div class="manage_container">
                   <%= link_to 'Edit', edit_proposition_path(proposition),class:"btn btn-primary manage_button" %>
                  <%= link_to 'Delete', proposition, method: :delete, data: {confirm: 'Are you sure?'},class:"btn btn-primary manage_button" %>
                     <%= link_to 'New Term', new_term_path %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
