<p id="notice"><%= notice %></p>

<h1>Terms</h1>

<table>
  <thead>
    <tr>
      <th>Parishid</th>
      <th>Title</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Website url</th>
      <th>Facebook url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.parishid %></td>
        <td><%= term.title %></td>
        <td><%= term.first_name %></td>
        <td><%= term.middle_name %></td>
        <td><%= term.last_name %></td>
        <td><%= term.gender %></td>
        <td><%= term.Date_of_birth %></td>
        <td><%= term.website_url %></td>
        <td><%= term.facebook_url %></td>
        <td><%= link_to 'Show', term %></td>
        <td><%= link_to 'Edit', edit_term_path(term) %></td>
        <td><%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Term', new_term_path %>
