<p id="notice"><%= notice %></p>

<p>
  <strong>Parishid:</strong>
  <%= @term.parishid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @term.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @term.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @term.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @term.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @term.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @term.Date_of_birth %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @term.website_url %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @term.facebook_url %>
</p>

<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
