<p id="notice"><%= notice %></p>

<p>
  <strong>Parishid:</strong>

  <% @terms.each do |t| %>
    <div>
      <%= t.parish.name %>
      <%= t.politician_id %>
      <%= t.position %>
      <%= t.begin_date %>
      <%= t.end_date %>
    </div>
    <% end %>
</p>




<div class="manage_container">
<% if !current_user.blank? && current_user.role_id == 1 %>
    <%= link_to 'Edit', edit_term_path(@term),class:"btn btn-primary manage_button" %>
    <%= link_to 'Delete', @term, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-primary manage_button" %>
<% end %>
  <%= link_to 'Back', terms_path,class:"btn btn-primary manage_button" %>
</div>
