<%= form_with(model: proposition, local: true) do |form| %>
  <% if proposition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proposition.errors.count, "error") %> prohibited this proposition from being saved:</h2>

      <ul>
      <% proposition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :politician_id %>
    <%= form.text_field :politician_id, id: :proposition_politician_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :proposition_title %>
  </div>

  <div class="field">
    <%= form.label :proposition_date %>
    <%= form.datetime_select :proposition_date, id: :proposition_proposition_date %>
  </div>

  <div class="field">
    <%= form.label :vote_date %>
    <%= form.datetime_select :vote_date, id: :proposition_vote_date %>
  </div>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference, id: :proposition_reference %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
