<p id="notice"><%= notice %></p>

<h1>Propositions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Politician</th>
      <th>Title</th>
      <th>Proposition date</th>
      <th>Debate date</th>
      <th>Lodged By</th>
      <th>Reference</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% ##### @propositions.each do |proposition| %>
    <% @propositions.limit(30).each do |proposition| %>
      <tr>
        <td><%= proposition.politician_id %></td>
        <td><%= proposition.prop_name %></td>
        <td><%= proposition.prop_date %></td>
        <td><%= proposition.debate_date %></td>
        <td><%= proposition.lodged_by %></td>
        <td><%= proposition.p_id %></td>
        <td><%= proposition.status %></td>
        <td><%= link_to 'Show', proposition %></td>
        <td><%= link_to 'Edit', edit_proposition_path(proposition) %></td>
        <td><%= link_to 'Destroy', proposition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposition', new_proposition_path %>