<p id="notice"><%= notice %></p>

<h1>Propositions</h1>

<table class="table">
  <thead>
    <tr>
      <th>I.D</th>
      <th>Proposition Title</th>
      <th>Lodged By</th>
      <th>Proposal Date</th>
      <th>Debate Date</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @propositions.limit(30).reverse.each do |proposition| %>
      <tr>
        <td><%= proposition.p_id %></td>
        <td><%= proposition.prop_name %></td>
        <td><%= proposition.lodged_by %></td>
        <td><%= proposition.prop_date %></td>
        <td><%= proposition.debate_date %></td>
        <td><%= link_to 'VIEW PDF', proposition.prop_pdf %></td>

        <% if current_user.blank? %>
          <%else %>
            <%if current_user.role_id == 1%>
              <td><%= link_to 'Show', proposition %></td>
              <td><%= link_to 'Edit', edit_proposition_path(proposition) %></td>
              <td><%= link_to 'Destroy', proposition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= link_to 'New Proposition', new_proposition_path %></td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>