

<div class="vote_wraper">
<h1>Propositions</h1>
<div>
   <% @propositions.each do |proposition| %>
   <div class="container vote_prop">
      <div class="row">
         <div class="col-10">
            <div class="vote_title">
               <%= '<s>' if proposition.status == 'Withdrawn' %>
               <%= link_to proposition.prop_name, proposition %>
               <%= '</s>' if proposition.status == 'Withdrawn' %>
            </div>
            <div class="vote_lodgeby">Lodged By:
               <%= proposition.lodged_by %> on <%= proposition.prop_date.strftime('%F') %>
            </div>
            <span>
            <% if !current_user.blank? && current_user.role_id == 1 %>
            <%= link_to 'Edit', edit_proposition_path(proposition) %>
            <%= link_to 'Destroy', proposition, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </span>
         </div>
      </div>
   </div>
   <% end %>
</div>
<div class="digg_pagination">
<div class="page_info">
   <%= page_entries_info @propositions %>
</div>
<%= will_paginate @propositions, :container => false %>
<% if !current_user.blank? && current_user.role_id == 1 %>
<%= link_to 'New Proposition', new_proposition_path %>
<% end %>
</div>