<p id="notice"><%= notice %></p>

<h1>Propositions</h1>

<table>
  <thead>
    <tr>
      <th>Politician</th>
      <th>Title</th>
      <th>Proposition date</th>
      <th>Vote date</th>
      <th>Reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propositions.each do |proposition| %>
      <tr>
        <td><%= proposition.politician_id %></td>
        <td><%= proposition.title %></td>
        <td><%= proposition.proposition_date %></td>
        <td><%= proposition.vote_date %></td>
        <td><%= proposition.reference %></td>
        <td><%= link_to 'Show', proposition %></td>
        <td><%= link_to 'Edit', edit_proposition_path(proposition) %></td>
        <td><%= link_to 'Destroy', proposition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposition', new_proposition_path %>
