<p id="notice"><%= notice %></p>

<h1>Propositions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Proposition date</th>
      <th>Lodged By</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @propositions.each do |proposition| %>
      <tr>
        <td>
				<%= '<s>' if proposition.status == 'Withdrawn' %>
				<%= link_to proposition.prop_name, proposition %>
				<%= '</s>' if proposition.status == 'Withdrawn' %>
		</td>
        <td><%= proposition.prop_date.strftime('%F') %></td>
        <td><%= proposition.lodged_by %></td>
        <td><%= link_to 'Edit', edit_proposition_path(proposition) %></td>
        <td><%= link_to 'Destroy', proposition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @propositions %>
    </div>
    <%= will_paginate @propositions, :container => false %>
  </div>
<br>

<%= link_to 'New Proposition', new_proposition_path %>