<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @proposition.prop_name %>
</p>

<p>
  <strong>Proposition date:</strong>
  <%= @proposition.prop_date %>
</p>

<p>
  <strong>Vote date:</strong>
  <%= @proposition.debate_date %>
</p>

<p>
  <strong>:</strong>
  <%= link_to "Download PDF", @proposition.prop_pdf %>
</p>

<%= link_to 'Edit', edit_proposition_path(@proposition) %> |
<%= link_to 'Back', propositions_path %>