<body>
  <div class="main_index_wraper">
    <div class="main_index_pic">

      <div class="main_index">
        <h1>
          Democracy: it’s for everyone
        </h1>
        <p>
          You shouldn’t have to be an expert to understand what goes on in Parliament. Your politicians represent you… but what exactly do they do in your name?<br>
          TheyWorkForYouJersey takes open data from the Parliament, and presents it in a way that’s easy to follow – for everyone. So now you can check, with just a few clicks: are They Working For You?

        </p>
      </div>
    </div>
  </div>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.user_id %></td>
        <td><%= notice.title %></td>
        <td><%= notice.content %></td>
        <td><%= link_to 'Show', notice %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</body>
