<div class="vote_wraper">
   <h1>Votes</h1>
   <div>
      <% @votes_grouped_pagination.each do |vote| %>
      <div class="container vote_prop">
         <div class="row">
            <div class="col-10">
               <div class="vote_title">
                  <%= link_to vote.proposition_title, vote %>
               </div>
               <div class="vote_lodgeby">Lodged By:
                  <b><%= vote.proposition.lodged_by %></b>
               </div>
               <span>
               <% if !current_user.blank? && current_user.role_id == 1 %>
               <div class="manage_container">
               <%= link_to 'Edit', edit_vote_path(vote), class:"btn btn-primary manage_button" %>
               <%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary manage_button" %>
             </div>
               <% end %>
               </span>
            </div>
         </div>
      </div>
      <% end %>
   </div>
   <div class="digg_pagination">
      <div class="page_info">
         <%= page_entries_info @votes_grouped_pagination %>
      </div>
      <%= will_paginate @votes_grouped_pagination, :container => false %>

   </div>
</div>
<%= link_to 'New Vote', new_vote_path, class:"btn btn-primary" %>
