<p id="notice"><%= notice %></p>

<h1>Votes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Proposition</th>
      <th>Type</th>
      <th>Member Position</th>
      <th>Vote ID</th>
      <th>Member Name</th>
      <th>Proposition Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.limit(30).each do |vote| %>
      <tr>
        <td><%= vote.proposition_id %></td>
        <td><%= vote.vote_type %></td>
        <td><%= vote.member_position %></td>
        <td><%= vote.voting_id %></td>
        <td><%= vote.member_name %></td>
        <td><%= vote.proposition_title %></td>
        <td><%= link_to 'Show', vote %></td>
        <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
        <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>