

<div class="vote_wraper">
  <h1>Votes</h1>
  <div>
    <% @votes_grouped.each do |vote| %>
      <div class="container vote_prop">
        <div class="row">
          <div class="col-10">
            <div class="vote_title">
              <%= link_to vote.proposition_title, vote_path(vote.proposition_id) %>
            </div>
            <div class="vote_lodgeby">Lodged By:
              <%= link_to vote.proposition.lodged_by, vote_path(vote.politician_id) %>
            </div>
            <span>
               <% if current_user.blank? %>
                 <%else %>
                   <%if current_user.role_id == 1%>

                     <%= link_to 'Edit', edit_vote_path(vote) %>
                     <%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %>
                   <% end %>
                   <% end %>
             </span>
          </div>
          <div class="col vote_link">
            <%= link_to 'Show', vote %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Vote', new_vote_path %>
