   <%= @vote.inspect %>
   <%= @votes.inspect %>

   <% @votes.limit(30).each do |vote| %>
      <tr>
        <td><%= vote.proposition_id %></td>
        <td><%= vote.vote_type %></td>
        <td><%= vote.member_position %></td>
        <td><%= vote.voting_id %></td>
        <td><%= vote.member_name %></td>
        <td><%= vote.proposition_title %></td>
        <td><%= link_to 'Show', vote %></td>
      </tr>
    <% end %>