<p id="notice"><%= notice %></p>

<p>
  <strong>Proposition:</strong>
  <%= @vote.proposition_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vote.type %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
