<p>&#32;</p>
<div class="container">
 <div class="row">
  <div class="col">
    <div class="proposal_name">
      <h4> <%= @proposition.prop_name %></h4>
    </div>
     <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Vote Status');
          data.addColumn('number', 'Count');
          data.addRows([
            ['Pour', <%= @shared_voteid.where(vote_type: 'Pour').count %>],
            ['Contre', <%= @shared_voteid.where(vote_type: 'Contre').count %>],
            ['Out of island', <%= @shared_voteid.where(vote_type: 'Out of the island').count %>],
            ['Not present for vote', <%= @shared_voteid.where(vote_type: 'Not present for vote').count %>],
            ['Unwell', <%= @shared_voteid.where(vote_type: 'Ill').count %>],
          ]);
          var options = {'title':'Breakdown of <%= number_with_delimiter(@shared_voteid.count) %> Votes','is3D': true};
         var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
     </script>
     <div id="chart_div" class="col">

        <p>Proposal Date: <%= @proposition.prop_date %></p>
        <p>Debate Date: <%= @proposition.debate_date %></p>
        <p>Lodged by: <%= @proposition.lodged_by %></p>
        <p>Status: <%= @proposition.status %></p>
        <% if (@proposition.prop_pdf.present?) %> <%= link_to 'Proposal PDF', @proposition.prop_pdf, target: '_blank', class: 'btn btn-primary' %><% end %>
        <% if (@proposition.minutes_pdf.present?) %><%= link_to  'Minutes PDF', @proposition.minutes_pdf, target: '_blank', class: "btn btn-primary" %><% end %>
        <% if (@proposition.hansard_pdf.present?) %><%= link_to 'Hansard PDF', @proposition.hansard_pdf, target: '_blank', class: "btn btn-primary" %><% end %>
      </div>
  </div>

  <div class=" col vote_sum">
          <% @shared_voteid_type.each do |vote_type, votes| %>
          <h6><%= votes.count %> Voted <%= vote_type %></h6>

           <% votes.each do |vote| %>

          <div class="vote_sum_pol">
            <%= link_to vote.member_name, politician_path(vote.politician_id) %>
          </div>
          <% end %>
          <% end %>
     </div>

</div>
