<div class="container-fluid jumbotron" style="width:70%;">
   <div class="form-group">
      <%= form_with(model: politician, local: true, class: "form-horizontal") do |form| %>
      <% if politician.errors.any? %>
      <div id="error_explanation">
         <h2><%= pluralize(politician.errors.count, "error") %> prohibited this politician from being saved:</h2>
         <ul>
            <% politician.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
         </ul>
      </div>
      <% end %>
      <div class="form-group">
         <%= form.label :full_name, class: "col-sm-2 control-label" %> 
         <div class="col-sm-10">
            <%= form.text_field :full_name, class: "form-control" %>
         </div>
         <div class="form-group">
            <%= form.label :title, class: "col-sm-2 control-label" %> 
            <div class="col-sm-10">
               <%= form.text_field :title, class: "form-control" %>
            </div>
         </div>
         <div class="form-group">
            <%= form.label :address, class: "col-sm-2 control-label" %> 
            <div class="col-sm-10">
               <%= form.text_area :address, class: "form-control" %>
            </div>
         </div>
         <div class="form-group">
            <%= form.label :summary, class: "col-sm-2 control-label" %> 
            <div class="col-sm-10">
               <%= form.text_area :summary, class: "form-control" %>
            </div>
         </div>
         <div class="form-group">
            <%= form.label :avatar, class: "col-sm-2 control-label" %> 
            <div class="col-sm-10">
               <%= form.text_field :avatar, class: "form-control" %>
            </div>
         </div>
         <div class="form-group">
            <%= form.label :mobile, class: "col-sm-2 control-label" %> 
            <div class="col-sm-10">
               <%= form.text_field :mobile, class: "form-control" %>
            </div>
         </div>
         <div class="form-group">
            <%= form.label :fax, class: "col-sm-2 control-label" %> 
            <div class="col-sm-10">
               <%= form.text_field :fax, class: "form-control" %>
            </div>
         </div>
         <div class="form-group">
            <%= form.label :landline, class: "col-sm-2 control-label" %> 
            <div class="col-sm-10">
               <%= form.text_field :landline, class: "form-control" %>
            </div>
         </div>
         <div class="form-group">
            <%= form.label :parish, class: "col-sm-2 control-label" %> 
            <div class="col-sm-10">
               <%= form.text_field :parish, class: "form-control" %>
            </div>
         </div>
      </div>
      <div class="form-group">
         <%= form.submit "Update Politician", class: "btn btn-default" %>
      </div>
      <% end %>
   </div>
</div>
