<div class="container">
   <% @politicians_grouped.each do |title, politicians| %>
   <% politicians.each do |politician| %>
   <div class="people-list">
      <%= link_to politician, class: "people-list__person" do %>
      <img class="people-list__person__image" src="<%= politician.avatar %>">
      <h2 class="people-list__person__name"><%= title %> - <%= politician.full_name %></h2>
      <p class="people-list__person__memberships">
         <span class="people-list__person__party crossbench"><%= politician.parish %></span>
      </p>
      <% end %>
   </div>
   <% end %>
   <% end %>
</div>