<div class="person_wraper">

<div class="container">
  <br/><br/>      
  <div class="row">
    <div class="person_wraper col-md-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="<%= @politician.avatar %>" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= @politician.full_name %></h4>
          <p class="card-text"><%= @politician.summary %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%== @politician.address %></li>
          <li class="list-group-item">Total Votes:  <%= @politician.votes.count %></li>
          <li class="list-group-item"><%= @politician.mobile %><br/><%= @politician.landline %></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Vote Status');
        data.addColumn('number', 'Count');
        data.addRows([
          ['Out of island', <%= @politician.votes.where(vote_type: 'Out of the island').count %>],
          ['Not present for vote', <%= @politician.votes.where(vote_type: 'Not present for vote').count %>],
          ['Pour', <%= @politician.votes.where(vote_type: 'Pour').count %>],
          ['Contre', <%= @politician.votes.where(vote_type: 'Contre').count %>],
          ['Unwell', <%= @politician.votes.where(vote_type: 'Ill').count %>],
        ]);

        var options = {'title':'Voting Stats',
                       'width':500,
                       'height':400};

       var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <div id="chart_div"></div>

      <table class="table">
        <thead>
          <tr>
            <th>Proposition</th>
            <th>Type</th>
            <th>Proposition Title</th>
          </tr>
        </thead>
        <tbody>
          <% @politician.votes.each.reverse_each do |vote| %>
          <tr>
            <td><%= vote.proposition_id %></td>
            <td><%= vote.vote_type %></td>
            <td><%= vote.proposition_title %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>