<p id="notice"><%= notice %></p>

<div class="person_wraper">

  <div>
    <%= link_to root_path do %>
     <%= image_tag @politician.avatar, class: "avatar"%>
  <% end %>
  </div>

  <div class="person_title">
    <strong>
      <%= @politician.title %>
    </strong>
  </div>

  <div class="person_fullname">
    <strong>
      <%= @politician.full_name %>
    </strong>
  </div>

  <div class="person_bio">
    <p>
      <%= @politician.summary %>
    <p>
  </div>

  <div>
    <strong>Email:</strong>
      <p>
        <%= @politician.email %>
      </p>
  </div>

  <div>
    <strong>Website</strong>

  </div>

  <div>
    <strong>Facebook</strong>
    
  </div>
</div>


<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
