<p id="notice"><%= notice %></p>

<div class="politicians_wraper">

  <div>
    <%= link_to root_path do %>
     <%= image_tag "Philip Martin Bailhache.jpg", class: "avatar"%>
  <% end %>
  </div>

  <div class="politician_title">
    <strong>Sir </strong>
    <%= @politician.title %>
  </div>

  <div class="politician_fullname">
    <strong>Philip Martin Bailhache</strong>
    <%= @politician.full_name %>
  </div>



  <div>
    <strong>Email</strong>

  </div>

  <div>
    <strong>Website</strong>
    <%= @politician.website_url %>
  </div>

  <div>
    <strong>Facebook</strong>
    <%= @politician.facebook_url %>
  </div>
</div>


<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
