<div class="container">
<br/><br/>
<div class="row">
<div class="person_wraper col-md-4">
   <div class="card" style="width: 320px;">
      <img class="card-img-top" src="<%= @politician.avatar %>" alt="<%= @politician.title %> <%= @politician.full_name %>">
      <div class="card-body">
         <h4 class="card-title"><%= @politician.full_name %></h4>
         <p class="card-text"><%= @politician.summary %></p>
      </div>
      <ul class="list-group list-group-flush">
         <li class="list-group-item"><%== @politician.address %></li>
         <li class="list-group-item">Represents <%= @politician.parish.name %></li>
         <% if user_signed_in? %>
         <li class="list-group-item"><%= link_to 'Edit', edit_politician_path(@politician) %></li>
         <% end %>
      </ul>
      <div class="card-body">
         <a href="#" class="card-link"><%= mail_to @politician.email, "Send Email", class: 'btn btn-primary' %></a>
         <a  class="card-link">
         <% if (@politician.landline) %>
         <%= link_to "Phone", "tel:#{@politician.landline}", class: 'btn btn-primary' %></a>
         <% elsif (@politician.mobile) %>
         <%= link_to "Phone", "tel:#{@politician.mobile}", class: 'btn btn-primary' %></a>
         <% elsif (@politician.fax) %>
         <%= link_to "Fax", "tel:#{@politician.Fax}", class: 'btn btn-primary' %></a>
         <% end %>
      </div>
   </div>
</div>
<div class="col-md-8">
   <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Vote Status');
        data.addColumn('number', 'Count');
        data.addRows([
          ['Out of island', <%= @politician.votes.where(vote_type: 'Out of the island').count %>],
          ['Not present for vote', <%= @politician.votes.where(vote_type: 'Not present for vote').count %>],
          ['Pour', <%= @politician.votes.where(vote_type: 'Pour').count %>],
          ['Contre', <%= @politician.votes.where(vote_type: 'Contre').count %>],
          ['Unwell', <%= @politician.votes.where(vote_type: 'Ill').count %>],
        ]);
        var options = {'title':'Breakdown of <%= number_with_delimiter(@politician.votes.count) %> Votes','is3D': true};
       var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
   </script>


   <% if (@politician.votes.count>0) %>
   <div id="chart_div"></div>
   <div class="panel">
      <h4>How <%= @politician.title %> <%= @politician.full_name %> has voted</h4>
      <ul class="vote-descriptions">
      <% @politician.votes.limit(12).each.reverse_each do |vote| %>
      <li>
         Has voted for <%= vote.proposition_title.truncate_words(13) %> <%= link_to "View Vote", vote_path(vote.id), class: "vote-description__source" %>
         <a class="vote-description__evidence"><%= vote.vote_type %>  <%= vote.proposition_id %></a>
      </li>
      <% end %>
   </div>

   

   <% else %>
   <div class="panel">
      <h3><%= @politician.title %> <%= @politician.full_name %></h3>
      <h5>Sorry we dont have any voting data to show</h5>
   </div>
   <% end %>
</div> 