<%= stylesheet_link_tag 'footer', media: 'all', 'data-turbolinks-track': 'reload' %>
<% @year = Time.new.year %>

<footer class="navbar navbar-expand-lg navbar-dark bg-dark">

  <span class="navbar-text">

    <%= @title %>
    &copy;
    <%= @year %>

  </br></br>

    <%= link_to "Privacy Policy", privacy_path, class: "container static" %>
    
    <%= link_to "Terms & Conditions", termsandconditions_path, class: "navbar-text" %>

  </span>

</footer>